
$blue:#6C98E3;
.product-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F5F5F5;
    .product{
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
        min-height: 400px;
        border: 1px solid transparent;
        &:hover{
            border: 1px solid black;        
        }
        .product-img{
            width: 150px;
        }
        .product-buttons{
            .product-button{
                height: 30px;
                border: 2px solid $blue;
                border-radius: 5px;
                color: $blue;
                font-size: 15px;
                font-weight: 500;
                cursor: pointer;
                transition: ease-in-out 0.4s ;

                &:hover{
                    color: white;
                    background-color: $blue;
                }
            }
            
        }

    }

    

}